<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>チャット</title>
 <%= stylesheet_link_tag "application", media: "all",
  "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <div class="col-xs-12 col-md-12">
   <h1 id="headeri">Chat Sample</h1>
   <hr>
  </div>

  <div id="group_id">test</div>
  <!-- jsに食わせたい情報などなど -->
  <!-- チャットのタイムラインとかテキストボックスとか -->
  <div id="timeline" class="col-xs-12 col-md-12">
  <div id="chat" data-uri="<%= request.host %>:3000/websocket"></div>
  </div>

  <hr>
  
    <form class="form-horizontal">
      <div class="form-group">
        <div class="textarea">
          <textarea  placeholder ="ここへ入力" wrap="hard" rows="3" id="msgbody" style="width:100%;"></textarea>
        </div>
      </div>
      <button type="button" class="btn btn-default" id="send">送信</button>
      
    </form>  

</body>
