<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>チャット</title>
 <%= stylesheet_link_tag "application", media: "all",
  "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<script type="text/javascript"
  src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
  <div class="container-fluid">
  <div class="row">
  <div class="col-xs-12 col-md-12 col-sm-12">
   <h1 id="headeri">Chat Sample</h1>
   <hr>
  </div>
    <button type="button" id="treebutton" class="btn btn-default" autocomplete="off">
      ツリー表示
  </button>
  <div id="group_id">test</div>
  <!-- jsに食わせたい情報などなど -->
  <!-- チャットのタイムラインとかテキストボックスとか -->
  <div class="col-xs-12 col-md-12 col-sm-12">
  <div id="chat" data-uri="<%= request.host %>:3000/websocket"></div>
  </div>

  <hr>
  <div class="col-xs-12 col-md-12 col-sm-12">  
    <form class="form-horizontal">
      <div class="form-group">
        <div class="textarea">
          <textarea  placeholder ="ここへ入力" wrap="hard" rows="3" id="msgbody" style="width:100%;"></textarea>
        </div>
      </div>
      <button type="button" class="btn btn-default" id="send">送信</button>
      
    </form>
   </div>
   </div>
   </div>
</body>
