// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
@import "bootstrap";

html{
  
  font-size:16px;

}

body{
  padding-top: 60px;
}

a{
  word-wrap: break-word;
}

p.word{

  word-wrap: break-word;

}

#headeri{
  text-align:center;
  font-size:2em;
}

.mtb{
  margin-bottom:5px;
}


.contarea{
  padding-left:2%;
  padding-right:2%;
  margin-top:1em;
  margin-bottom:1em;
}

.contchild{
  border-left:1px dashed #778899;
  margin-left:3%;
}

.thumbnail{
  width:60px;
  height: 60px;
}

img.lazy{
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  width:60px;
  height:60px;
  border:1px solid #ccc;
 }

img.movie{
  width:50px;
  height:50px;
  border:none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: image-url("appbar.video.basic.svg");

}
//navbar設定

.navbar-collapse{

  text-align:center;
}


button.navbtn{
  width:95%;
  background:#222;
  color:#e6e6e6;
}


.space{

  height:20px;

}

.aring{

 background-color:red;
}

.head{

  margin-bottom: 5px;

}

.bigthum{
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
  width:20%;
  height:auto;
  border:1px solid #ccc;
  margin:5px;

}

//textare setting

textarea{

  margin:0px;
  
}

input[type="file"] {

  line-height:1.3333333;
  border-radius:6px;
  border-color:#cccccc; 
  font-size:19px;
}
