// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html{

  font-size:16px;

}

body{
  padding-top: 60px;
  background-color:#e3f3fd;
}

a{
  word-wrap: break-word;
}

p.word{

  word-wrap: break-word;

}

#headeri{
  text-align:center;
  font-size:2em;
}


.mtb{
  margin-bottom:5px;
}

.anker{
  font-size:18px;
  display:inline-block;


}

.tpad{
  padding-top:1em;
}

.tmar{
  margin-top:1em;
}

.contarea{
  padding-left:12px;
  padding-right:12px;
  padding-top:7px;
  padding-bottom:7px;
  margin-top:10px;
  border-radius:5px;
  border-top:solid 1px #dddddd;
  border-right:solid 1px #dddddd;
  border-left:solid 1px #dddddd;
  border-bottom:solid 1px #dddddd;
}


.contchild{
  border-left:1px dashed #778899;
  margin-left:3%;
}

.thumbnail{
  width:60px;
  height: 60px;
}

img.lazy{

  cursor:pointer;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  width:60px;
  height:60px;
  border:1px solid #ccc;
 }

img.movie{
  cursor:pointer;
  width:50px;
  height:50px;
  border:none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: image-url("appbar.video.basic.svg");

}
//navbar設定

.navbar-collapse{

  text-align:center;
}


button.navbtn{
  width:95%;
  background:#222;
  color:#e6e6e6;
}


.space{

  height:10px;

}

.aring{

 background-color:red;
}


.bigthum{
  cursor:pointer;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
  width:20%;
  height:auto;
  border:1px solid #ccc;
  margin:5px;

}

//textare setting

textarea{

  margin:0px;

}

input[type="file"] {
  background-color:white;
  line-height:1.3333333;
  border-radius:6px;
  border-color:#cccccc;
  font-size:19px;
  margin:0px;
}

.sclup{
  font-size:5em;
  position:fixed;
  bottom:155px;
  right:40px;
  color:#212121;
  opacity:0.1;
  outline:none;
  cursor: pointer;
}


.scldown{
  font-size:5em;
  position:fixed;
  bottom:10px;
  right:40px;
  color:#212121;
  opacity:0.1;
  outline:none;
  cursor: pointer;
}

.autoscl{
  font-size:0.7em;
  position:fixed;
  bottom:85px;
  right:28px;
  width: 7em;
  height: 7em;
  background: #EEE;
  border-radius:50%;
  // color: #337AB7;
  color:#fafafa;
  opacity:0.1;
  outline:none;
  background-color:#212121;
  cursor: pointer;
}

.autoscl:active{
  opacity:0.85;
  box-shadow:0px 5px 7px 0px rgba(0,0,0,0.333);
}

.sclup:active{
  opacity:0.85;
  text-shadow:0px 5px 7px rgba(0,0,0,0.333);

}

.scldown:active{
  opacity:0.85;
  text-shadow:0px 5px 7px rgba(0,0,0,0.333);

}

.blue{

  background-color:#e3f2fd;

}

.green{

  background-color:#f1f8e9;

}

.white{
  background-color:#FFFFFF;

}

.rescouBlo{

  background-color:#fce4ec;

}

.rescouRed{
  
  background-color:#ffebee;

}

.rescof{

  background-color:#ffcdd2;

}
