// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
@import "bootstrap";

body{
  padding-top: 70px;
}

a{
  word-wrap: break-word;
}

#headeri{
  text-align:center;

}


.textarea{
   
  padding-left: 5px;
}

.contarea{
  margin-top:1.5em;
  margin-bottom:1.5em;
  margin-left:1.5em;

}

.contchild{
  border-left:1px dashed #778899;
  margin-left:3%;
}

.thumbnail{
  width:60px;
  height: 60px;
}

img.lazy{

  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  width:50px;
  height:50px;
 }

img.movie{
  width:50px;
  height:50px;
  border:none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: image-url("appbar.video.basic.svg");

}

.rescouRed{
  background-color:#DC143C;
}

.rescouBlo{
  background-color:#DB7093;
}

//navbar設定

.navbar-collapse{

  text-align:center;
}


button.navbtn{
  width:95%;
  background:#222;
  color:#e6e6e6;
}


