@import "bootstrap";
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input{
  border:1px solid #bbb;
  width:100%;
  padding:10px;
  margin-bottom:15px;

  @include box_sizing;
}
input{
  height: auto !important;
}

body{
  padding-top: 60px;
  background-color:#FAFAFA;
}

.lmar{

  margin-left:0.5em;

}
.navbar{
  border:none;
  background-color:#FFFFFF;
  box-shadow:0px 1px 3px 0px rgba(0,0,0,0.333);

}

.navbarcenter{

  margin-top:5px;

}

.rowtop{
  margin-top:20px;
}

.row10{
  margin-top:0.5em;
  padding-right:7px;
  padding-left:7px;

}

.container-fluid{
 max-width:100%;
}

.row3{
  padding-left:3px;
  padding-right:3px;
}

.bot{
  
  padding-bottom:10px;

}

.rowr{

  padding-right:5px;
  padding-left:5px;
}
.list-group-item{
  padding-left:5px;
  padding-right:5px;
  border:none;
  padding-top:15px;
  padding-bottom:15px;
  z-index:0;
}

.list-group-item:hover{
  
  z-index:1;
  box-shadow:0px 2px 3px 0px rgba(0,0,0,0.333);

}

.list_thumb{
  padding-left:5px;
  width:100%;
  max-height:420px;
}

.list-group{

  margin:0px;

}

.overf{

  margin-bottom:0.2em;
}

img.loading{
  border:0px;
  border-style:none !important;

}

img.image-preview{

  width:100%;
  max-width:500px;
}

.center{
  width:100%;
  text-align:center;
}



.user{
  padding-left:1em;
  font-size:1em;
  background-image:image-url("user.svg");
  background-repeat:no-repeat;
}

.comeimg{
  padding-left:1em;
  font-size:1em;
  background-image:image-url("comment.svg");
  background-repeat:no-repeat;
}

.space{

  height:20px;

}

.padr{

  padding-right:0px;

}

.padl{

  padding-left:15px;

}

.rescof{

  background-color:#ffcdd2;

}

.rescouBlo{

  background-color:#ef9a9a;

}

.rescouRed{
  
  background-color:#e57373;

}
.tnav{
  cursor: pointer;
}



.rescof{

  background-color:#ffcdd2;

}

.rescouBlo{

  background-color:#ef9a9a;

}

.rescouRed{

  background-color:#e57373;

}

